---
layout: compress
---


<!DOCTYPE html>
<head>


	<title>about me</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/vcard/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/vcard/vcard_font_hello.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/vcard/vcard_font.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/vcard/vcard_base.css">
    {% include head.html %}
	<link rel="stylesheet" type="text/css" href="/assets/css/vcard/vcard_main.css">

	<!-- adapt for head.html -->
	<style type="text/css">
	.main-title .divider {
		position: absolute;
		left: 30px;
		top: 65px;
	}
	.exp .hgroup{
		margin-bottom:5px;
		text-align: left;;
	}
	
	.exp p{
		text-align: left;
	}
	</style>
	
</head>

<body>
 
  {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title {% if page.feature %} feature {% endif %}">
                    <h1>{{ page.title }}</h1>
                    <a class="btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                </div>

				<div class="about">
					<!-- begin main title -->
					<div class="main-title">
						<h1>WHO AM I</h1>
						<div class="divider">
							<div class="zigzag large clearfix" data-svg-drawing="yes">
								<svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
									<path d="M1.357,12.26 10.807,2.81 20.328,12.332
									29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 " style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;">
									</path>
								</svg>
							</div>
						</div>
					</div>		
					<!-- end  main title -->
					<!-- begin content -->
					<div class="content">
						<!-- begin block-content -->
						<div class="block-content margBSmall">
							<div class="profile margBSmall">
								<h1>YANCI XU</h1>
								<h3>IOS DEVELOPER</h3>
							</div>
							<!--Row-->
							<div class="row">
								<div class="col-md-6">
									<p> Hi! 我叫许还真
									我来自于广东汕头 (潮州话 , 潮剧 , 潮州菜 , 功夫茶), 一个靠海的城市, 素有”美食之乡”之称。

									现居住于广东广州 (老广的味道), 从事iOS开发等相关工作。

									兴趣爱好: 技术、动漫、tvb、tennis、球类运动等、
									</p>
								</div>
								<div class="col-md-6">
									<p style="font-family: open_sanslight ">
										You may say that I'm a dreamer, but I'm not the only one
										I hope some day you'll join us,and the world will be as one
									</p>
								</div>
							</div>
							<!-- End row -->
						</div>
						<!-- end block-content -->

						<!-- begin block-content -->
						<div class="block-content">
							<div class="info">
								<div class="row">
									<div class="col-md-6">
										<ul class="info-list clearfix">
											<li>
												<span class="inf">Name</span>
												<span class="value">Yanci Xu</span>
											</li>
											<li>
												<span class="inf">Date of birth</span>
												<span class="value">Oct 20, 1989</span>
											</li>
											<li>
												<span class="inf">Address</span>
												<span class="value">ShenZhen,GuangDong</span>
											</li>
										</ul>
									</div>
									<div class="col-md-6">
										<ul class="info-list">
											<li>
												<span class="inf">Email</span>
												<span class="value">grandy.wind@gmail.com</span>
											</li>
											<li>
												<span class="inf">Phone</span>
												<span class="value">+86 15014038497</span>
											</li>
											<li>
												<span class="inf">Skype</span>
												<span class="value">XuYanci</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- end block-content -->
					</div>
					<!-- end content -->
					<!-- begin main title -->
					<div class="main-title">
						<h1>PROFESSIONAL SKILLS</h1>
						<div class="divider">
							<div class="zigzag large clearfix" data-svg-drawing="yes">
								<svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
									<path d="M1.357,12.26 10.807,2.81 20.328,12.332
									29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 " style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;">
									</path>
								</svg>
							</div>
						</div>
					</div>		
					<!-- end  main title -->
					<!-- begin content -->
					<div class="content">
						<div class="block-content margBSmall">

							<div class=" skill coding">
								<div class="vc">
									<div class="col-md-11">
										<ul class="skills-list clearfix">
											<li>
												<h4>iOS</h4>
												<div class="progress">
													<div class="percentage" style="width: 75%;"></div>
												</div>
											</li>
											<li>
												<h4>Android</h4>
												<div class="progress">
													<div class="percentage" style="width: 20%;"></div>
												</div>
											</li>
											<li>
												<h4>React</h4>
												<div class="progress">
													<div class="percentage" style="width: 30%;"></div>
												</div>
											</li>
											<li>
												<h4>Vue</h4>
												<div class="progress">
													<div class="percentage" style="width: 30%;"></div>
												</div>
											</li>
											<li>
												<h4>Java</h4>
												<div class="progress">
													<div class="percentage" style="width: 10%;"></div>
												</div>
											</li>
											<li>
												<h4>Embed System</h4>
												<div class="progress">
													<div class="percentage" style="width: 25%;"></div>
												</div>
											</li>
											<li>
												<h4>PHP</h4>
												<div class="progress">
													<div class="percentage" style="width: 10%;"></div>
												</div>
											</li>
										</ul>
									</div>
									<div class="col-md-1">
										<div class="title des">
											<span>coding</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end content -->
					<!-- begin main title -->
					<div class="main-title">
						<h1>EXPERIENCE</h1>
						<div class="divider">
							<div class="zigzag large clearfix" data-svg-drawing="yes">
								<svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
									<path d="M1.357,12.26 10.807,2.81 20.328,12.332
									29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 " style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;">
									</path>
								</svg>
							</div>
						</div>
					</div>
					<!-- end main title -->
					<!-- begin content -->
					<div class="content">
						<div class="block-content">
							<div class="timeline experience">
								<div class="row">
									<div class="col-md-12">
								 		<div class="exp-holder margTop">
								 			<div class="exp">
												<div class="hgroup">
													<h4>iOS开发工程师 – 团贷网 </h4>
													<h6><i class="icon-calendar"></i> 2017 - 2019</h6>
													<p> Vue & React & iOS Engineer </p>
												</div>
											</div>
								 			<div class="exp">
												<div class="hgroup">
													<h4>iOS开发组长 – 深圳第一网络科技股份有限公司 </h4>
													<h6><i class="icon-calendar"></i> 2016 - 2017</h6>
												</div>
												<p>根据产品需求定制开发计划以及分配成员任务，解决项目中困难点</p>
												<p>项目基础框架搭建开，发测试以及发布工作。</p>
												</div>
											<div class="exp">
												<div class="hgroup">
													<h4>iOS高级工程师 – 深圳麦克斯文化有限公司 </h4>
													<h6><i class="icon-calendar"></i> 2015 - 2016 </h6>
												</div>
												<p>主要负责公司产品的iOS手机端软件框架设计，编码设计。</p>
												</div>
											<div class="exp">
												<div class="hgroup">
													<h4>iOS高级工程师 – 深圳纬科联科技有限公司 </h4>
													<h6><i class="icon-calendar"></i> 2014 - 2015 </h6>
												</div>
												<p>主要负责公司语音聊天产品的iOS手机端软件框架设计，编码设计。</p>
												</div>
											<div class="exp">
												<div class="hgroup">
													<h4>iOS软件工程师 – 深圳智然软件科技有限公司 </h4>
													<h6><i class="icon-calendar"></i> 2011 - 2013 </h6>
												</div>
												<p>主要负责公司嵌入式产品iOS手机端软件框架搭建，编码设计。</p>
												</div>
								 		</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end content -->
					<!-- begin main title -->
					<div class="main-title">
						<h1>EDUCATION</h1>
						<div class="divider">
							<div class="zigzag large clearfix" data-svg-drawing="yes">
								<svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
									<path d="M1.357,12.26 10.807,2.81 20.328,12.332
									29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 " style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;">
									</path>
								</svg>
							</div>
						</div>
					</div>
					<!-- end main title -->
					<!-- begin content -->
					<div class="content">
						<div class="block-content">
							<div class="timeline experience">
								<div class="row">
									<div class="col-md-12">
								 		<div class="exp-holder margTop">
											<div class="exp">
												<div class="hgroup">
													<h4> 深圳大学 - 信息管理 </h4>
													<h6><i class="icon-calendar"></i>2005 - 2010</h6>
												</div>
												<p>在校主修信息管理,系统学习了 C++ , 数据库设计 ,  操作系统 , 计算机组成原理等课程。 并在校参与实验室 , 扩展了自己的编码能力。</p>
												</div>
								 		</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end content -->	
				</div>
			</div>
		</div>
	</header>
	    {% include scripts.html %}
    {% if site.mathjax == true %}
    <!-- MathJax -->
    <script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}
</body>
</html>